#italic{
    font-size: 20px;
    background-color: aquamarine;
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    font-style: italic;
    transition: font-size 0.5s ease;
}
#normal{
    font-size: 15px;
    background-color: blueviolet;
    color: whitesmoke;
    width: 70%;
    text-align: center;
    margin: 20px auto;
    font-style: normal;
    padding: 20px;
    transition: background-color 0.5s ease;
}
#bold{
    font-size: 30px;
    background-color: chocolate;
    padding: 20px;
    width: 30%;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    transition: font-style 0.5s ease;
}
#italic:hover{
    font-size: 50px;
}
#normal:hover{
    background-color: cadetblue;
}
#bold:hover{
    font-style: italic;
}
